<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>FuelMReport</display-name>
	
	<listener>
		<listener-class>
			org.jboss.seam.servlet.SeamListener
		</listener-class>
	</listener>

	<filter>
		<filter-name>Seam Filter</filter-name>
		<filter-class>org.jboss.seam.servlet.SeamFilter</filter-class>
		<init-param>
			<param-name>createTempFiles</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>maxRequestSize</param-name>
			<param-value>20000000</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Seam Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<context-param>
	   <param-name>org.richfaces.queue.global.enabled</param-name>
	   <param-value>true</param-value>
	</context-param>

	<context-param>
        <param-name>org.richfaces.SKIN</param-name>
        <param-value>#{userOptions.skin}</param-value>
    </context-param>
    
	<!-- below are to deploy on jboss. Tested on 7.1 -->
	<context-param>
	    <param-name>resteasy.scan</param-name>
	    <param-value>false</param-value>
	</context-param>
	<context-param>
	    <param-name>resteasy.scan.providers</param-name>
	    <param-value>false</param-value>
	</context-param>
	<context-param>
	    <param-name>resteasy.scan.resources</param-name>
	    <param-value>false</param-value>
	</context-param>
    
    <!-- Seam -->
	<servlet>
		<servlet-name>Seam Resource Servlet</servlet-name>
		<servlet-class>
			org.jboss.seam.servlet.SeamResourceServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Seam Resource Servlet</servlet-name>
		<url-pattern>/seam/resource/*</url-pattern>
	</servlet-mapping>

	<!-- Facelets development mode (disable in production) -->

	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- JSF -->

	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	
	<context-param>
		<param-name>org.richfaces.LoadScriptStrategy</param-name>
		<param-value>ALL</param-value>
	</context-param>
	
	<context-param>
		<param-name>org.richfaces.LoadStyleStrategy</param-name>
		<param-value>ALL</param-value>
	</context-param>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.seam</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.dexter.fmr.rest</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
		<display-name>Restrict raw XHTML Documents</display-name>
		<web-resource-collection>
			<web-resource-name>XHTML</web-resource-name>
			<url-pattern>*.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>
	
	<!-- PDF -->
	<servlet>
        <servlet-name>Document Store Servlet</servlet-name>
        <servlet-class>org.jboss.seam.document.DocumentStoreServlet</servlet-class>
    </servlet>
	<servlet>
		<display-name>Apache-Axis Servlet</display-name>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
		<enabled>true</enabled>
		<async-supported>false</async-supported>
	</servlet>
	<servlet>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
		<load-on-startup>100</load-on-startup>
		<enabled>true</enabled>
		<async-supported>false</async-supported>
	</servlet>

    <servlet-mapping>
        <servlet-name>Document Store Servlet</servlet-name>
        <url-pattern>*.pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Document Store Servlet</servlet-name>
        <url-pattern>*.xls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Document Store Servlet</servlet-name>
        <url-pattern>/seam/docstore/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AxisServlet</servlet-name>
    	<url-pattern>/servlet/AxisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AxisServlet</servlet-name>
    	<url-pattern>*.jws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminServlet</servlet-name>
    	<url-pattern>/servlet/AdminServlet</url-pattern>
    </servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.seam</welcome-file>
	</welcome-file-list>
</web-app>